@charset "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;

	/**
	menu caixa top
	**/
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;

	/**
	menu caixa center
	**/
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;

	/**
	fonte menu para diminuir 
	**/
}

